.face-lockup
{
    max-width: 900px;
    margin: 0 auto;

    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);
    .face-img
    {
        border-radius: 50%;
        @include size(200px);
        @include order(3);
    }  // end face-img

    [class^='icon-']
    {
        //position: relative;
        //width: 100%;
        //height: 0;
        //padding: 0;
        //padding-bottom: 100%;
        padding: 20px;

        border-radius: 50%;
        background: $secondary-color;

        @include size(80px);

        .scaling-svg
        {
            //@include size(80%);
            //text-align: center;
            //width: 80%;
            //height: 1px;
            //padding-bottom: 92%;

            path
            {
                fill: $accent-color;
            }
        }// end svg
        &.icon-1
        {
            @include order(1);
        }
        &.icon-2
        {
            @include order(2);
        }
        &.icon-3
        {
            @include order(4);
        }
        &.icon-4
        {
            @include order(5);
        }
    }  // end all classes with icon
}  // end face-lockup

@media screen and (max-width: 650px)
{
    .face-lockup
    {
        display: block;

        text-align: center;
        div
        {
            display: inline-block;
        }  // end Div

        .face-img
        {
            display: block;
            // end background

            margin: 0 auto 30px;

            background:
            {
                position: center center;

                repeat: no-repeat;
            }
        }  // end face-img

        [class^='icon-']
        {
            margin: 10px 9%;
        }// end class Icon
    }// end .face-lockup
}// end media screen


.blurb
{
    font-size: 24px;
    font-weight: 300;

    max-width: 620px;
    margin: 50px auto;
    padding: 0 20px;

    text-align: center;
}// end blurb


.skill-lockup
{
    max-width: 540px;
    margin: 100px auto;

    color: #999;

    @include clearfix;
    .skill-unit
    {
        float: left;

        width: 270px;
    }// end skill-unit


    .skill-icons
    {
        font-size: 0;

        margin: 3px 0 30px;
        span
        {
            display: inline-block;

            margin-right: 8px;

            border-radius: 50%;
            background-color: $accent;

            @include size(14px);
            &:after
            {
                display: block;

                margin: 2px;

                content: ' ';

                border-radius: 50%;
                background: #fff;

                @include size(10px);
            }// end after
        }// end span


        @for $i from 1 through 10
        {
            &.skill-#{$i} span:nth-child(n+#{$i})
            {
                background: $bg-color;
            }
        }// end skill selector
    }// end skill-icons
}// end skill-lockup


@media screen and (max-width: 541px)
{
    .skill-lockup
    {
        width: 220px;
        .skill-unit
        {
            width: 220px;
        }// end skill-unit
    }// end skill-lockup
}// end media screen
