footer
{
    @extend %bg-img;
    //  background-image: url(../img/main/footer-bg.jpg);
    //  background-repeat: no-repeat;
    //  background-size: cover;
    //  height: 200px;

    .lockup
    {
        padding: 50px 30px;

        @include clearfix;

        //  .logo{
        //    @include size(80px);
        //    float: left;
        //    margin-right: 30px;
        //    background: $box-bg;

        //    }  // end logo

        .content-wrap
        {
            float: left;

            margin-left: 150px;

            background: $box-bg;

            .copyright
            {
                font-size: 12px;

                margin: 0;

                text-transform: uppercase;

                color: $accent-color;
            }  // end copyright
        }  // end content-wrap

        //  nav
        //  {
        //    float: right;
        //    margin: 30px 30px 0 0;
        //    background: $box-bg;

        a
        {
            display: inline-block;

            margin-right: 30px;

            color: $nav-link-color;

            @extend %small-bold;

            &:hover
            {
                color: $nav-link-color-hover;
            } // end hover
        }  // end a

        //  } // end nav
    } // end lockup
}  // end footer
