// header sass file

header
{
  background: url(../img/main/header-bg.jpg) center center;
  background-size: cover;
  padding-bottom: 60px;

  .logo{  // box for logo svg.
    height: 80px;
    width: 80px;
    float: left;
    margin: 10px 0 0 30px;
    background: $box-bg;

    .st0{
      fill: $primary-color;  // changes the color of the logo
      background: $box-bg;  // this didn't do anything
    }  // end .st0 or SVG file

  }  // end logo

  nav
  {
    float: right;
    padding: 30px 30px 0 0;
    background: $box-bg;

    a
    {
      display: inline-block;
      margin-left: 20px;

      color: $nav-link-color;
      @extend %small-bold;

      &:hover
      {
        color: $nav-link-color-hover;
      } // end hover

    } // end a

  } // end nav

  h1{
        text-align: center;
        font-size: 72px;
        font-weight: 700;
        color: $primary-color;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        margin-bottom: 20px;
        clear: both;
        padding-top: 10px;

        span{
          display: inline-block;
          padding: 0.2em 0.5em;
          border: $primary-color solid 10px;
          background: $box-bg;

        }  // end span

      }  // end h1

        .kicker{
          @extend %small-bold;
          text-align: center;
          letter-spacing: 0.05em;
          color:$primary-color;
          line-height: 1;

          span{
            display: inline-block;
            padding: 0.2em 0.5em;
            background: $box-bg;

          } // end span
        } // end kicker

}  // end header
@media (max-width: 640px){
  header {
    background-position: 50% 20px, 50% 50%;
    nav {
      float:none;
      text-align: center;
      padding-top: 80px;
    }// end nav
    h1 {
      padding-top: 0px;
    }
  }// end header-bg
}
