<section>

  <h3>About Myself</h3>

  <div class="face-lockup">
    <div class="face-img" style="background-image: url(/assets/img/main/{{ site.avatar }})"></div>

    <div class="icon-1">{% include icons/icon-headgear.html %}</div>
    <div class="icon-2">{% include icons/icon-screen.html %}</div>
    <div class="icon-3">{% include icons/icon-screens.html %}</div>
    <div class="icon-4">{% include icons/icon-lightbulb.html %}</div>

  </div> <!--  end face-lockup -->
  <div class="blurb">

  {{ site.blurb }}

  </div> <!--  end blurb -->

  <div class="skill-lockup">

    <div class="skill-unit">
      <div class="skill-label"> Communication </div> <!--  end skill-label -->
      <div class="skill-icons skill-8">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div><!--  end skill-icons -->
    </div> <!--  end skill-unit -->

    <div class="skill-unit">
      <div class="skill-label"> Organization </div> <!--  end skill-label -->
      <div class="skill-icons skill-9">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div><!--  end skill-icons -->
    </div> <!--  end skill-unit -->

    <div class="skill-unit">
      <div class="skill-label"> Learning</div> <!--  end skill-label -->
      <div class="skill-icons skill-10">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div><!--  end skill-icons -->
    </div> <!--  end skill-unit -->

    <div class="skill-unit">
      <div class="skill-label"> Innovation</div> <!--  end skill-label -->
      <div class="skill-icons skill-6">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div><!--  end skill-icons -->
    </div> <!--  end skill-unit -->

    <div class="skill-unit">
      <div class="skill-label"> Planning</div> <!--  end skill-label -->
      <div class="skill-icons skill-8">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div><!--  end skill-icons -->
    </div> <!--  end skill-unit -->

    <div class="skill-unit">
      <div class="skill-label"> Design</div> <!--  end skill-label -->
      <div class="skill-icons skill-7">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div><!--  end skill-icons -->
    </div> <!--  end skill-unit -->

    <div class="skill-unit">
      <div class="skill-label"> Modeling</div> <!--  end skill-label -->
      <div class="skill-icons skill-5">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div><!--  end skill-icons -->
    </div> <!--  end skill-unit -->

    <div class="skill-unit">
      <div class="skill-label"> Programming</div> <!--  end skill-label -->
      <div class="skill-icons skill-9">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div><!--  end skill-icons -->
    </div> <!--  end skill-unit -->

  </div> <!--  end skill-lockup -->


</section> <!--  end section -->
